body {
    font-family: "Fira Sans", sans-serif;
    padding-left: 160px;
    padding-right: 160px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_title{
    font-size: 32px;
    color: rgb(14,14,14);
    font-weight: 700;
}
.nav_btn_font{
    font-size:18px;
    padding: 15px 30px;
    color: rgb(0,106,80);
    border-radius: 8px;
    border: 1px solid rgb(0,106,80);
    background-color: rgb(245,245,245);
}

.nav_btn_font:hover{
    background-color: rgb(18, 250, 200);
}

.banner{
    display:flex;
    padding: 80px 70px;
    justify-content: space-between;
    gap: 64px;
    border-radius: 24px;
    background-color: rgb(198,228,214);
}
.banner_description .banner_head{
    font-size: 24px;
    color: rgb(14,14,14,0.5);
    font-weight: 500;
}
.banner_description .banner_body{
    font-size: 56px;
    color: rgb(14,14,14);
    font-weight: 700;
}
.banner_description .banner_btn{
    border-radius: 8px;
    padding: 17px 34px;
    background-color: rgb(0,106,80);
    color: rgb(255,255,255);
    font-size: 18px;
    font-weight: 600;
}

.pillars_head{
    color: rgb(14,14,14);
    font-size: 40px;
    font-weight: 700;
}

.pillars_body_head{
    color: rgb(14,14,14,0.8);
    font-size: 20px;
    font-weight: 700;
}
.pillars_body_tail{
    color: rgb(14,14,14,0.7);
    font-size: 16px;
    font-weight: 400;
}

.pillars_body{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.pillars_body_blocks{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    width: 302px;
    height: 244px;
    box-sizing: border-box;
}
.vision_part1_head{
    color: rgb(14,14,14);
    font-size: 40px;
    font-weight: 700;
}

.vision_part1_body{
    color: rgb(14,14,14,0.7);
    font-size: 16px;
    font-weight: 400;
}

.vision_part2_block1{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    padding: 32px;
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    background-color: rgba(84, 144, 245, 0.2);
}
.vision_part2_block2{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    padding: 32px;
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    background-color: rgb(198, 228, 214);
}
.vision_part2_block3{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    padding: 32px;
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    background-color: rgb(247, 235, 207);
}

.vision_btn1{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgb(84, 144, 245);
}
.vision_btn2{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgb(9, 161, 92);
}
.vision_btn3{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px;
    border-radius: 8px;
    background-color: rgb(255, 194, 57);
}

.vision_part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.vision_part3{
    padding: 48px 24px;
    background-image: url(../assets/quote-bg.png);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: 20px 35px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}
.vision{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.vision_part3_1{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
}
.vision_part3_2{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}
.vision_part3_3{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
}

.xyz{
    display: flex;
    flex-direction: column;
    gap: 80px;
}